
# we need line numbers in our stack traces otherwise they are pretty useless
-renamesourcefileattribute SourceFile
-keepattributes SourceFile,LineNumberTable

# Keep anything that is referenced in the manifest file
-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider

# Action Bar Sherlock
-keep class android.support.v4.app.** { *; }
-keep interface android.support.v4.app.** { *; }
-keep class com.actionbarsherlock.** { *; }
-keep interface com.actionbarsherlock.** { *; }

# Crittercism
-keep public class com.crittercism.**
-keepclassmembers public class com.crittercism.* { *; }

# Flurry
-dontwarn com.flurry.**

# Keep out alarm listener so it can be referenced from xml
-keep class com.darrenmowat.gdcu.service.GalleryAlarmListener

# Keep methods that subscribe & produce things to the otto bus
-keepclassmembers class ** {
    @com.squareup.otto.Subscribe public *;
    @com.squareup.otto.Produce public *;
}

# Google Drive API 
-keepclassmembers class * {
  @com.google.api.client.util.Key <fields>;
}
-keepattributes Signature,RuntimeVisibleAnnotations,AnnotationDefault
-dontwarn sun.misc.Unsafe
-dontwarn com.google.common.collect.MinMaxPriorityQueue
-keep public class * extends com.google.api.client.util.GenericData { *; }
-keep class com.google.api.services.*.model.*

-keep class * extends java.util.ListResourceBundle {
    protected Object[][] getContents();
}



